* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
    font-family: 'Work Sans', sans-serif;
}

img {
    width: 100%;
}

.container {
    width: 1240px;
    margin: auto;
}

.header-section {
    padding: 10px 0;
}

.header-section .menu {}

.header-section .menu ul {
    text-align: center;
}

.header-section .menu ul li {
    display: inline-block;
}

.header-section .menu ul li a {
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    background-color: #48dbfb;
    color: #000;
    font-weight: 600;
    position: relative;
}

.header-section .menu ul li a::before {
    content: "";
    width: 0;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 15%;
    bottom: 6px;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
}

.header-section .menu ul li a:hover::before {
    visibility: visible;
    opacity: 1;
    width: 65%;
}

.header-section .menu ul li a:hover {
    background-color: #eef9fa;
    color: #6db8cc;
}

.banner-section {
    background-color: #48dbfb;
    padding: 100px 0;
    text-align: center;
}

.banner-section h4 {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

.banner-section h1 {
    color: #fff;
    margin: 10px 0;
    font-size: 40px;
}

.banner-section button {
    margin-top: 10px;
    border-radius: 7px;
    border: none;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
}

.banner-section button a {
    color: #ccc;
    padding: 15px 17px;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
}

.banner-section button a span {
    font-size: 19px;
}

.banner-section button::before {
    content: "";
    width: 0%;
    height: 100%;
    background-color: #000000;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    transition: .4s;
}

.banner-section button:hover::before {
    width: 100%;
}

.banner-section button:hover a {
    color: #fff;
}

.banner-section button:hover span {
    color: #fff;
}

.about-section {
    background-color: #f7f9f9;
    padding: 100px 0;
}

.about-section .about-header {
    text-align: center;
}

.about-section .about-header h1 {}

.about-section .about-header p {
    margin-bottom: 100px;
}

.about-section .about-box .image-header {
    overflow: hidden;
}

.about-section .about-box .image-bottom {
    padding-top: 15px;
}

.image {
    display: inline-block;
    width: 23%;
    margin-right: 21px;
}

#one {
    transition: .4s;
    overflow: hidden;
}

#one img {
    transition: .4s;
    overflow: hidden;
}

#one img:hover {
    transform: rotate(360deg);
}

#two {
    transition: .4s;
    overflow: hidden;
}

#two img {
    transition: .4s;
}

#two img:hover {
    transform: rotate(30deg);
}

#three {
    transition: .4s;
    overflow: hidden;
}

#three img {
    transition: .4s;
}

#three img:hover {
    transform: rotate(-30deg);
}

#four {
    transition: .4s;
    overflow: hidden;
}

#four img {
    transition: .4s;
}

#four img:hover {
    transform: rotate(-30deg) scale(1.2);
}

#five {
    transition: .4s;
    overflow: hidden;
}

#five img {
    transition: .4s;
}

#five img:hover {
    transform: rotate(30deg) scale(1.2);
}

#six {
    transition: .4s;
    overflow: hidden;
}

#six img {
    transition: .4s;
}

#six img:hover {
    transform: rotate(360deg);
}

#seven {
    transition: .4s;
    overflow: hidden;
}

#seven img {
    transition: .4s;
}

#seven img:hover {
    transform: rotate(3deg) scale(1.3);
}

#eight {
    transition: .4s;
    overflow: hidden;
}

#eight img {
    transition: .4s;
}

#eight img:hover {
    transform: rotate(-3deg) scale(1.3);
}

.service-section {
    padding-top: 80px;
    background-color: #f7f9f9;
    text-align: center;
    padding-bottom: 19px;
}

.service-section .service-content {}

.service-section .service-content h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
}

.service-section .service-content p {
    color: #808080;
    padding-bottom: 20px;
}

.service-btn {
    position: relative;
}

.service-btn .btn-1 {
    position: absolute;
    top: 0;
    left: 230px;
    padding: 10px 20px;
    border: none;
    background-color: #000;
    color: #fff;
    transform: rotate(-40deg);
    font-size: 15px;
    transition: .4s;
    font-weight: 600;
}

.service-btn .btn-2 {
    padding: 10px 20px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    transition: .4s;
    font-weight: 600;
}

.service-btn .btn-3 {
    position: absolute;
    top: 0;
    right: 230px;
    padding: 10px 20px;
    border: none;
    background-color: #000;
    color: #fff;
    transform: rotate(40deg);
    font-size: 15px;
    transition: .4s;
    font-weight: 600;
}

.service-btn .btn-1:hover {
    transform: rotate(0deg) scale(1.2);
    background-color: #3accf9;
    color: #000;
}

.service-btn .btn-2:hover {
    transform: scale(1.3);
    background-color: #3accf9;
    color: #000;
}

.service-btn .btn-3:hover {
    transform: rotate(0deg) scale(1.2);
    background-color: #3accf9;
    color: #000;
}

.fotter-section {
    background-color: #2e2f31;
    text-align: center;
}

.fotter-section p {
    color: #fff;
    padding: 25px 0;
    font-size: 18px;
}
